//筛选杨样式


/*
<div class="optionBox">
      <div class="item">
       <span> 选项名 </span>
       <el-input
             suffix-icon="arrow-down"
             :value="'选项值'"
             placeholder=""
       ></el-input>
       </div>
         // 右侧固定内容
         <div class="rightBox">
               <span class="question">问题</span>
         </div>
</div>
*/

.optionBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  //padding-right: 15px;
  //white-space: nowrap;

  .rightBox {
    position: absolute;
    right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    //flex-wrap: wrap;
  }

  color: rgba(255, 255, 255, 0.6);

  .item {
    margin-right: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    > span {
      margin-right: 10px;
    }

    .el-input {
      width: 150px;
    }
  }


  :deep {
    //input {
    //  background-color: #424243;
    //}
  }
}
