//时间选择器
.el-picker__popper.el-popper[role=tooltip]{
  background-color: var(--bg-table-stripe);
}
.el-picker-panel {
  color: var(--text-content);
  background-color: var(--bg-table-stripe);
  border-color: var(--border);

  .el-picker-panel__icon-btn {
    color: var(--color-help1);
  }


  .el-date-table {
    th {
      border-bottom-color: var(--border);
    }

    td {
      &.today {
        span {
          color: var(--text-content);
        }
      }

      &.next-month,
      &.prev-month,
      &.disabled div {
        background: none;

        span {
          color: var(--text-info);
        }
      }
    }
  }

  .el-month-table {
    td {
      .cell {
        color: #c0c4cc;
      }

      &.disabled .cell {
        background: none;
        color: #606266;
      }

      &.current {
        .cell {
          color: #409eff;
        }
      }
    }
  }

  .el-date-picker__header--bordered {
    border-bottom-color: var(--border);
  }

  .el-picker-panel__footer {
    background-color: var(--bg-table-stripe);
    border-color: var(--border);
  }
}
