.el-dialog {
  color: var(--text-content);
  background: var(--bg-table-stripe)!important;

  .el-dialog__header {
    padding: 10px 10px 10px 20px;

    .el-dialog__title {
      font-size: 12px;
      color: var(--text-content)!important;
    }
  }

  .el-dialog__body {
    color: var(--text-content)!important;

    .el-textarea__inner {
      background-color: transparent;
    }
  }
}
