.el-input {
  --el-input-text-color: var(--text-content);
  --el-input-border: var(--el-border);
  --el-input-transparent-border: 0 0 0 1px transparent inset;
  --el-input-border-color: var(--border);
  --el-input-hover-border: var(--border-active);
  --el-input-focus-border: var(--border-active);
  --el-input-border-radius: var(--el-border-radius-base);
  --el-input-hover-border-color: var(--border-active);
  --el-input-focus-border-color: var(--border-active);
  --el-input-bg-color: var(--bg-main);
  --el-input-icon-color: var(--text-content);
  --el-input-placeholder-color: var(--text-info);
  --el-input-clear-hover-color: var(--text-info);
}

.el-textarea {
  --el-input-text-color: var(--text-content);
  --el-input-border: var(--el-border);
  --el-input-transparent-border: 0 0 0 1px transparent inset;
  --el-input-border-color: var(--border);
  --el-input-hover-border: var(--border-active);
  --el-input-focus-border: var(--border-active);
  --el-input-border-radius: var(--el-border-radius-base);
  --el-input-hover-border-color: var(--border-active);
  --el-input-focus-border-color: var(--border-active);
  --el-input-bg-color: var(--bg-main);
  --el-input-icon-color: var(--text-content);
  --el-input-placeholder-color: var(--text-info);
  --el-input-clear-hover-color: var(--text-info);
}

.el-input-number__increase, .el-input-number__decrease {
  background-color: var(--bg-main);
  border: 1px solid var(--border);
}
.el-input-number__decrease:hover, .el-input-number__increase:hover {
  color: var(--text-primary);
}
