.el-select {
  --el-select-border-color-hover: var(--border);
  --el-select-disabled-border: var(--el-disabled-border-color);
  --el-select-font-size: var(--el-font-size-base);
  --el-select-close-hover-color: var(--text-info);
  --el-select-input-color: var(--text-content);
  --el-select-multiple-input-color: var(--text-content);
  --el-select-input-focus-border-color: var(--border-active);
  --el-select-input-font-size: 14px;
}

.el-select-dropdown__item.selected {
  color: var(--text-primary);
}

.el-select-dropdown__item {
  color: var(--text-content);
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: var(--bg-active);
}
