//elementplus table 样式
//原始色彩
//.el-table {
//  --el-table-border-color: var(--el-border-color-lighter);
//  --el-table-border: 1px solid var(--el-table-border-color);
//  --el-table-text-color: var(--el-text-color-regular);
//  --el-table-header-text-color: var(--el-text-color-secondary);
//  --el-table-row-hover-bg-color: var(--el-bg-color-base);
//  --el-table-current-row-bg-color: var(--el-color-primary-light-9);
//  --el-table-header-bg-color: var(--el-color-white);
//  --el-table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
//  --el-table-bg-color: var(--el-color-white);
//  --el-table-tr-bg-color: var(--el-color-white);
//  --el-table-expanded-cell-bg-color: var(--el-color-white);
//}
.el-table {
  --el-table-border-color: var(--border);
  //--el-table-border: 1px solid var(--border);
  --el-table-bg-color: var(--bg-main);
  --el-table-text-color: var(--text-content);

  //表头
  --el-table-header-bg-color: var(--bg-main);
  --el-fill-color-light:var(--el-table-header-bg-color);
  --el-table-header-text-color: var(--text-content);
  //行背景色
  --el-table-tr-bg-color:  var(--bg-main);
  --el-bg-color: var(--bg-main);
  //斑马纹背景色
  --el-fill-color-lighter: var(--bg-table-stripe);

  --el-table-expanded-cell-bg-color: var(--bg-main);
  --el-table-row-hover-bg-color: var(--bg-active);
  --el-table-current-row-bg-color: var(--bg-active);

  //后续为自定义扩展
  --el-table-my-sort-color: var(--text-info);
  --el-table-my-sort-active-color: var(--color-help1);
}


//排序标志修改
.el-table {
  .caret-wrapper {
    // display: none;
    //table排序 点击处理
    pointer-events: none;
    height: auto;
    width: auto;
    margin-left: 3px;
  }

  .sort-caret.ascending {
    display: none;
    position: static;
  }

  .sort-caret.descending {
    position: static;
    border-left-color: var(--el-table-my-sort-color);
    border-top-color: transparent;
  }

  .ascending .sort-caret {
    // &.ascending {
    //   display: block;
    // }
    &.descending {
      border-left-color: transparent;
      border-bottom-color: var(--el-table-my-sort-active-color);
      margin-bottom: 5px;
    }
  }

  .descending .sort-caret {
    // &.ascending {
    //   display: none;
    // }
    &.descending {
      border-left-color: transparent;
      border-top-color: var(--el-table-my-sort-active-color);
      margin-top: 5px;
    }
  }
}

