//日期，级联，下拉框等 小箭头颜色
.el-popper.is-light, .el-popper.is-dark {
  color: var(--text-info);
  background: var(--bg-main);
  border: 1px solid var(--border);

  .el-popper__arrow::before{
    border: 1px solid var(--border);
    background: var(--bg-main);
  }
}


